@import "vanilla-framework";
@include vanilla;

.hero {
    min-height: 100svh;
    position: relative;
}

.doodle-canvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    touch-action: none;
}

.hero-content {
    position: absolute;
    inset-inline: 0;
    bottom: 2rem;

    display: flex;
    justify-content: center;

    z-index: 1;
    pointer-events: none;
}