---
//import Canvas from "../components/sketch-pad-2";
import Cozy from "../layouts/cozy.astro";
import '../styles/base.css'
---

<Cozy>
	<h1 id="title">Hi! 👋</h1>
	<h2 id="subtitle">I'm Samuel Kynaston (He/They).</h2>
	<p class="my-2">This website is unfinished. However, I have deployed the basics so you can get a rough idea of who I am and what I do. Please check out my <a id="link" href="/portfolio">portfolio!</a></p>
</Cozy>
