---
//import Canvas from "../components/sketch-pad-2";
import Cozy from "../layouts/cozy.astro";
import '../styles/base.css'
import "../styles/columns.css"
---

<Cozy>
	<h1 id="title">PORTFOLIO</h1>
    <p>(Work in Progress)</p>
    <section class="row">
        <section class="column">
            <box class="secondary">
                <h1 id="title">The Cookie Club</h1>
                <hr id="main">
                <a id="link" href="https://github.com/SamKynaston/cn-final-project-frontend/" target="_blank">Frontend</a><br>
                <a id="link" href="https://github.com/SamKynaston/cn-final-project-backend/" target="_blank">Backend</a>
            </box>
        </section>

        <section class="column">
            <box class="secondary">
                <h1 id="title">Cats4Lyfe</h1>
                <hr id="main">
                <a id="link" href="https://github.com/SamKynaston/cats4lyfe" target="_blank">Github</a>
            </box>
        </section>

        <section class="column">
            <box class="secondary">
                <h1 id="title">Link Shortener</h1>
                <hr id="main">
                <a id="link" href="https://github.com/SamKynaston/Link-Shortener" target="_blank">Github (Typescript)</a>
            </box>
        </section>

        <section class="column">
            <box class="secondary">
                <h1 id="title">Student Manager</h1>
                <p><b>Written in C#</b></p>
                <hr id="main">
                <a id="link" href="https://github.com/SamKynaston/U16-Student-Program" target="_blank">Github</a>
            </box>
        </section>

        <section class="column">
            <box class="secondary">
                <h1 id="title">Books API</h1>
                <hr id="main">
                <a id="link" href="https://github.com/SamKynaston/sql-books-project" target="_blank">MySQL</a><br>
                <a id="link" href="https://github.com/SamKynaston/mongoose-books-api" target="_blank">Mongoose</a>
            </box>
        </section>

        <section class="column">
            <box class="secondary">
                <h1 id="title">Todo-List</h1>
                <hr id="main">
                <a id="link" href="https://github.com/NathanJohnNJ/GroupAssignment-FrontEnd" target="_blank">Frontend</a><br>
                <a id="link" href="https://github.com/SamKynaston/week-10-todo-list" target="_blank">Backend</a>
            </box>
        </section>

        <section class="column">
            <box class="secondary">
                <h1 id="title">Calculator</h1>
                <hr id="main">
                <a id="link" href="https://samkynaston.github.io/calculator-app/" target="_blank">Web Example</a><br>
                <a id="link" href="https://github.com/SamKynaston/calculator-app" target="_blank">Github</a>
            </box>
        </section>

        <section class="column">
            <box class="secondary">
                <h1 id="title">Dice Game</h1>
                <hr id="main">
                <a id="link" href="https://samkynaston.github.io/Dice/" target="_blank">Web Example</a><br>
                <a id="link" href="https://github.com/SamKynaston/Dice" target="_blank">Github</a>
            </box>
        </section>

        <section class="column">
            <box class="secondary">
                <h1 id="title">Drumkit</h1>
                <hr id="main">
                <a id="link" href="https://samkynaston.github.io/DrumSite/" target="_blank">Web Example</a><br>
                <a id="link" href="https://github.com/SamKynaston/DrumSite" target="_blank">Github</a>
            </box>
        </section>
    </section>
    <p>In the meantime: go <a id="link" href="./" id="highlighted">home</a></p>
</Cozy>