---
//import Canvas from "../components/sketch-pad-2";
import Cozy from "../layouts/cozy.astro";
import '../styles/base.css'
import "../styles/columns.css"
---

<Cozy>
	<h1 id="title">WORK IN PROGRESS</h1>
    <p>Portfolio coming soon!</p>
    <section class="row">
        <section class="column"><box class="secondary">te</box></section>
        <section class="column"><box class="secondary">te</box></section>
        <section class="column"><box class="secondary">te</box></section>
        <section class="column"><box class="secondary">te</box></section>
    </section>
    <p>In the meantime: go <a href="./" id="highlighted">back home</a></p>
</Cozy>