---
//import Canvas from "../components/sketch-pad-2";
import Cozy from "../layouts/cozy.astro";
import PortfolioItem from "../components/portfolio";
import '../styles/base.css'
import "../styles/columns.css"

const portfolio = [
    {
        "name":"Link Shortener",
        "languages":["Typescript"],
        "frameworks":["Express.TS"],
        "links": [
            ["Github", "https://github.com/SamKynaston/Link-Shortener"]
        ]
    },

    {
        "name":"The Cookie Club",
        "languages":["JavaScript"],
        "frameworks":["Express.JS", "React.JS"],
        "links": [
            ["Frontend", "https://github.com/SamKynaston/cn-final-project-frontend/"],
            ["Backend", "https://github.com/SamKynaston/cn-final-project-backend/"]
        ]
    },

    {
        "name":"Cats4Lyfe",
        "languages":["JavaScript"],
        "frameworks":["Express.JS", "React.JS"],
        "links": [
            ["Github", "https://github.com/SamKynaston/cats4lyfe"]
        ]
    },

    {
        "name":"Calculator",
        "languages":["JavaScript"],
        "frameworks":["React"],
        "links": [
            ["Website", "https://samkynaston.github.io/calculator-app/"],
            ["Github", "https://github.com/SamKynaston/calculator-app"]
        ]
    },

    {
        "name":"To-Do List",
        "languages":["JavaScript"],
        "frameworks":["Express"],
        "links": [
            ["Github", "https://github.com/SamKynaston/week-10-todo-list"]
        ]
    },

    {
        "name":"Student Manager",
        "languages":["C-sharp"],
        "frameworks":[],
        "links": [
            ["Github", "https://github.com/SamKynaston/U16-Student-Program"]
        ]
    },

    {
        "name":"Drumkit",
        "languages":["HTML5", "CSS", "JavaScript"],
        "frameworks":[],
        "links": [
            ["Website", "https://samkynaston.github.io/DrumSite/"],
            ["Github", "https://github.com/SamKynaston/DrumSite"]
        ]
    },

    {
        "name":"Dice Game",
        "languages":["HTML5", "CSS", "JavaScript"],
        "frameworks":[],
        "links": [
            ["Website", "https://samkynaston.github.io/Dice/"],
            ["Github", "https://github.com/SamKynaston/Dice"]
        ]
    },
]

---

<Cozy>
	<h1 id="title">PORTFOLIO</h1>
    <p>Last Updated: 19/08/23 @ 12:00</p>
    <section class="row">
        {
            portfolio.map(item => {return (<PortfolioItem name={item.name} languages={item.languages} frameworks={item.frameworks} links={item.links}></PortfolioItem>)})
        }
    </section>

    <!--<section class="row">
        <section class="column">
            <box class="secondary">
                <h1 id="title">Books API</h1>
                <p><b>Written in Javascript w/ Mongoose & Express</b></p>
                <hr id="main">
                <a id="link" href="https://github.com/SamKynaston/sql-books-project" target="_blank">MySQL</a><br>
                <a id="link" href="https://github.com/SamKynaston/mongoose-books-api" target="_blank">Mongoose</a>
            </box>
        </section>
    </section>-->
    <p>In the meantime: go <a id="link" href="/" id="highlighted">home</a></p>
</Cozy>