---
//import Canvas from "../components/sketch-pad-2";
import Cozy from "../layouts/cozy.astro";
import PortfolioItem from "../components/portfolio";
import '../styles/base.css'
import "../styles/flex.css"

const portfolio = [
    {
        "name":"Social Media Project",
        "languages":["C-Sharp", "Typescript", "Docker"],
        "frameworks":["Express.TS", "React.TS"],
        "links": [
            ["Compiled Repository", "https://github.com/SamKynaston/Social-Media-Project"],
            ["API", "https://github.com/SamKynaston/social-media-backend"],
            ["Webapp", "https://github.com/SamKynaston/social-media-frontend"],
            ["Type Definitions", "https://github.com/SamKynaston/social-media-types"],
        ]
    },

    {
        "name":"Portfolio Website",
        "languages":["Typescript", "Javascript"],
        "frameworks":["Astro", "React.TS"],
        "links": [
            ["Compiled Repository", "https://github.com/SamKynaston/Social-Media-Project"],
            ["API", "https://github.com/SamKynaston/social-media-backend"],
            ["Webapp", "https://github.com/SamKynaston/social-media-frontend"],
            ["Type Definitions", "https://github.com/SamKynaston/social-media-types"],
        ]
    },

    {
        "name":"Link Shortener",
        "languages":["Typescript"],
        "frameworks":["Express.TS"],
        "links": [
            ["Github", "https://github.com/SamKynaston/Link-Shortener"]
        ]
    },

    {
        "name":"The Cookie Club",
        "languages":["JavaScript"],
        "frameworks":["Express.JS", "React.JS"],
        "links": [
            ["Frontend", "https://github.com/SamKynaston/cn-final-project-frontend/"],
            ["Backend", "https://github.com/SamKynaston/cn-final-project-backend/"]
        ]
    },

    {
        "name":"Cats4Lyfe",
        "languages":["JavaScript"],
        "frameworks":["Express.JS", "React.JS"],
        "links": [
            ["Github", "https://github.com/SamKynaston/cats4lyfe"]
        ]
    },

    {
        "name":"Calculator",
        "languages":["JavaScript"],
        "frameworks":["React"],
        "links": [
            ["Website", "https://samkynaston.github.io/calculator-app/"],
            ["Github", "https://github.com/SamKynaston/calculator-app"]
        ]
    },

    {
        "name":"To-Do List",
        "languages":["JavaScript"],
        "frameworks":["Express"],
        "links": [
            ["Github", "https://github.com/SamKynaston/week-10-todo-list"]
        ]
    },

    {
        "name":"Books API",
        "languages":["JavaScript", "MySQL", "NoSQL"],
        "frameworks":["Express"],
        "links": [
            ["SQL", "https://github.com/SamKynaston/sql-books-project"],
            ["NoSQL", "https://github.com/SamKynaston/mongoose-books-api"]
        ]
    },

    {
        "name":"Student Manager",
        "languages":["C-sharp"],
        "frameworks":[".NET"],
        "links": [
            ["Github", "https://github.com/SamKynaston/U16-Student-Program"]
        ]
    },

    {
        "name":"Playlist Manager",
        "languages":["Python"],
        "frameworks":[],
        "links": [
            ["Github", "https://github.com/SamKynaston/U16-Playlist-Program"]
        ]
    },

    {
        "name":"Diary Manager",
        "languages":["Python"],
        "frameworks":[],
        "links": [
            ["Github", "https://github.com/SamKynaston/U16-Diary-Program"]
        ]
    },

    {
        "name":"Drumkit",
        "languages":["HTML5", "CSS", "JavaScript"],
        "frameworks":[],
        "links": [
            ["Website", "https://samkynaston.github.io/DrumSite/"],
            ["Github", "https://github.com/SamKynaston/DrumSite"]
        ]
    },

    {
        "name":"Dice Game",
        "languages":["HTML5", "CSS", "JavaScript"],
        "frameworks":[],
        "links": [
            ["Website", "https://samkynaston.github.io/Dice/"],
            ["Github", "https://github.com/SamKynaston/Dice"]
        ]
    },
]

---

<Cozy>
	<h1 id="title">PORTFOLIO</h1>
    <p>Last Updated: 16/02/24 @ 14:00 GMT</p>
    <section class="my-4 xl:grid xl:grid-cols-2 centered-xl xl:gap-4">
        {
            portfolio.map(item => {return (<PortfolioItem name={item.name} languages={item.languages} frameworks={item.frameworks} links={item.links}></PortfolioItem>)})
        }
    </section>
    <p>In the meantime: go <a id="link" href="/" id="highlighted">home</a></p>
</Cozy>