---
//import Canvas from "../components/sketch-pad-2";
import Navigation from "../components/navigation";
import Footer from "../components/footer";

import faviconLight from "../favicon-w.svg"
import faviconDark from "../favicon-b.svg"

import '../styles/base.css'
import "../styles/main-box.css"
import "../styles/columns.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml"  media="(prefers-color-scheme: light)" href={faviconLight} />
		<link rel="icon" type="image/svg+xml"  media="(prefers-color-scheme: dark)" href={faviconDark} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Kynno</title>
	</head>
	<body>
		<Navigation />
		<span class="content">
			<section class="box-hold">
				<slot />
			</section>
		</span>
		<Footer />
	</body>
</html>
